.defaultHighlight{
    position: relative;
    background-color: #b1dadd;
}

.defaultHighlight:hover{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    color: rgb(3, 26, 49);
}

#contextMenu {
  display: block;
  position:absolute; 
  border:2px double #333; 
  width:150px; 
  height:175px;
  top:100%;
  left:0%;
  background-color:#e0e0e0;
  box-shadow:5px 5px #909090;
  z-index: 10;
}